@import "/src/globalStyles.scss";

.card {
    border: none !important;
    border-radius: 0.5rem;
}

.country-card {
    cursor: pointer;
    box-shadow: 1px 1px 0px 3px #f6f6f6;

    &__img {
        height: 11rem;
        border-radius: 0.5rem 0.5rem 0 0;
    }

    &__dark-mode {
        background-color: $darkBlue;
    }
}

//dark mode styles
.dark-mode {
    .country-card {
        // color: $white;
        background-color: $darkBlue;
        box-shadow: 1px 1px 0px 3px #1d2b34;
    }
}
